@import 'settings';
@import 'foundation-emails';

@import 'template/template';

.header {
  background: $light-gray;
  background-image: url(https://s23.postimg.org/tyhz00tzv/background_Pixel.png);
}

.container.transparent {
	background: transparent;
}

.bold {
	font-weight: bold;
}

.white {
	background: #fff;
}