@import 'settings';
@import 'foundation-emails';

@import 'template/template';

.header {
  background-image: 
    linear-gradient(
      to bottom,
      #3FA2B2,
      #3FA2B2 160px,
      #166A83 160px,
      #166A83 320px,    
      $light-gray 320px,
      $light-gray
    )
}

.container.transparent {
	background: transparent;
}

.bold {
	font-weight: bold;
}

.white {
	background: #fff;
}